@import "tailwindcss";

@theme {
  --color-dark: #040404;
  --color-box: #222222;
  --color-orange: #de4a2e;
}

@layer utilities {
  .font-vt323 {
    font-family: var(--font-vt323);
  }
}

@layer base {
  body {
    background-color: var(--color-dark);

    background-image:
    /* --- small grid --- */
      linear-gradient(#ffffff0d 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      /* --- medium grid --- */
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);

    background-size:
      8px 8px,
      8px 8px,
      32px 32px,
      32px 32px;

    font-family: var(--font-vt323);
  }
}

/* Dark, minimal scrollbar */
.scrollbar-dark {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

/* Chrome / Edge / Safari */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
